@tailwind components;
@tailwind utilities;

*{
  padding: unset;
  margin: unset;
}

body{
  background-color: #1e3c93;
}

.joke{
  background-color: antiquewhite;
  width: 500px;
  height: 500px;
  box-shadow: 10px 10px 3px #f2d943;
}

.btn{
  background-color: black;
}

@media (max-width: 1024px) {
  .joke{
    width: 400px;
    height: 400px;   
  }  
}


@media (max-width:400px) {
  .joke{
    width: 300px;
 
  }  
}
